html, body{ margin: 0px; padding: 0px }
body{background: #53a1b8}
header{ text-align: center; alignment: center;padding-top: 5em;color: #fff;  font-family: Arial, "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;}
h1{line-height: 1.333;font-size: 4.209em;letter-spacing: -2px;font-weight: 300;color: #fff;margin-bottom: 0;text-decoration: none;}